*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: 15x;
}

.acc{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: sans-serif;
}
.signup-form{
    display: flex;
    justify-content: center;
    margin-top: 30px;

    
}
.google-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 120px;
  border: 1px solid #dadce0;
  border-radius: 15px;
  background: white;
  font-size: 14px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
.google-btn:hover {
  box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3), 0 2px 6px rgba(60, 64, 67, 0.15);
}

.google-btn img {
  position: absolute;
   margin-left: -100px;
    height: 20px;
}
.hr{
    margin-left: 585px;
    margin-top: 20px;
    margin-right: 585px;
    opacity: 0.3;
}
label {
    display: block;
  text-align: left;
  margin-bottom: 6px;
  font-size: 18px;
  font-family: sans-serif;

}
.input {
    display: flex;
    justify-content: center;
   
}
.input-fields {
    width: 400px;
    padding: 12px 15px;
    
    border-radius: 8px;
    font-size: 14px;
    margin-top:18px;
    

}
input{
    width: 100%;
    padding: 15px 17px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    margin: 5px 0 35px 0;
    cursor: pointer;
    transition: box-shadow 0.3s ease;

}
input:hover {
    box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3), 0 2px 6px rgba(60, 64, 67, 0.15);
}
.signup-btn {
    width: 300px;
    padding: 15px 15px;
    border: none;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-btn:hover {
    background-color: #333333;
}
.login-text {
  margin-top: 20px;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.login-text a {
  text-decoration: none;
  font-weight: 600;
  color: #161515;
  margin-left: 5px;
}
.footer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 13px;
    color: rgb(37, 37, 37);
    font-family: sans-serif;
   background-color: #00000005;
    padding: 28px;
    box-shadow: 1px solid black;
    

}
