*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    display: flex;justify-content: center; margin-top: 50px ;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight: bold;font-size: large;
}
body{
    background-color: #f5f5f5;
}
.acc{
    display: flex;
    justify-content: center;
    margin-top: 130px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: x-large;
}
